<!DOCTYPE html>
<html ng-app="foxtrot">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.js"></script>
    <link   rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
    <script src="foxtrot.js"></script>
<body>
<div class="container">
    <div ng-controller="foxtrotCtrl">
        <h2>Filter example</h2>
        <p>Letters to filter on:<input type="text" ng-model="letter"></p>
        <ul>
          <li ng-repeat="x in alphabet | filter:letter">
            {{ x }}
          </li>
        </ul>
        <hr>
        <h2>Filter & Sort</h2>
        <strong>Click on table heading to sort</strong>
        <table class="table table-condensed">
            <tr>
                <th ng-click="pickMe('name')">Name</th>
                <th ng-click="pickMe('weight')">Weight (g)</th>
                <th ng-click="pickMe('colour')">Colour</th>
            </tr>
            <tr ng-repeat="x in libations | orderBy:columnToOrderOn">
                <td>{{x.name}}</td>
                <td>{{x.weight}}</td>
                <td>{{x.colour}}</td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>
