<!DOCTYPE html>
<html  ng-app="galApp">
  <head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  </head>
  <body>

    <h1>Bootstrap Things </h1>
    <p>This is a an Angularized HTML form, the basics won't be listed, just the new stuff. When we start to use for validation, we'll be using bootstrap classes to to the highlighting. So we'll add bootstrap</p>
    <ul>
      <li></li>
      <li></li>
    </ul>

    <div ng-controller="galCtrl">

      <form name="theForm" novalidate="novalidate">
        <div ng-class>
          City: <input type="text" id="city" name="citee" ng-model="formModel.myCity" required="required"><br>
        </div>
        Prov: <input type="text" id="prov" ng-model="formModel.myProv" ><br>
        Sex:  <input type="radio" id="sex" ng-model="formModel.sexy" value="yea" ng-checked="true" > Yes
              <input type="radio" id="sex" ng-model="formModel.sexy" value="no"> No
              <input type="radio" id="sex" ng-model="formModel.sexy" value="other"> Other<br>
        <button ng-click="onSubmit(theForm.$valid)">Submit SVP! </button ><br>
        MyModel data (data appears as typed): <pre> {{ formModel | json }}</pre>
        TheForm data: <pre> {{ theForm | json }}</pre>
      </form>

      <script>
        var app = angular.module('galApp', []);

        app.controller('galCtrl', function ($scope) {
          $scope.formModel = {};

          $scope.onSubmit = function (valid) {
            if (valid) {
              console.log("The submit was successfully done.");
              console.log($scope.formModel);
            } else {
              console.log("Cannot submit, not valid.");
            }

            };
        });
      </script>
    </div>

  </body>

</html>
