<!DOCTYPE html>
<html  ng-app="halApp">
  <head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <link   rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
  </head>
  <body>
  <div class="container">

    <h1>Validation using Angular</h1>
    <p>This show validation. We'll use bootstrap</p>
    <ul>
      <li>We link to bootstrap - maxcdn.</li>
      <li>Proper form classes used: form-control and form-group. </li>
      <li>Only "City" is required, will get message if not filled out.</li>
      <li>"form-inline" to save space. </li>
      <li>Use data in the form: form name="theForm" -- to help make validations.</li>
      <li>We examine internal data to see if we submit, ie theForm.$valid</li>
      <li>Determine if we disply error msg, ie theForm.citee.$error.required</li>
    </ul>

    <div ng-controller="halCtrl">

      <form ng-submit="onSubmit(theForm.$valid)" name="theForm"
            novalidate="novalidate" class="form-inline" >
        <div class="form-group" ng-class="
              {'has-error':!theForm.citee.$valid && (!theForm.$pristine || theForm.$submitted ),
               'has-success':theForm.citee.$valid} && (!theForm.$pristine || theForm.$submitted )
        ">
          <label for="city" >City</label >
          <input type="text" class="form-control" id="city" name="citee"
                 ng-model="formModel.city" required="required"><br>

          <p class="help-block" ng-show="theForm.citee.$error.required &&
                               (!theForm.$pristine || theForm.$submitted )">
            This field is required.
          </p>
        </div>
        <!-- Stuff: <pre> {{ theForm.citee | json }} </pre>
                    <pre>Validation {{ theForm.citee.$error | json }}</pre>
                    <pre>Field Valid? {{ theForm.citee.$valid }}</pre>
                    <pre>Form Pristine? {{ theForm.$pristine }}</pre>
                    <pre>Form Submitted? {{ theForm.$submitted }}</pre>    -->
        <div class="form-group" >
          <label for="prov" >Prov</label >
          <input type="text" class="form-control" id="prov" name="prov"
                 ng-model="formModel.prov" ><br>
        </div>
        <div class="form-group" >
          <label class="radio-inline">
            <input id="sex" name="sex" type="radio" ng-model="formModel.sexy" value="yes">Yes
          </label>
          <label class="radio-inline">
            <input id="sex" name="sex" type="radio" ng-model="formModel.sexy" value="no">No
          </label>
          <label class="radio-inline">
            <input id="sex" name="sex" type="radio" ng-model="formModel.sexy" value="other">Other
          </label>
        </div>

        <!-- <button type="button" class="btn btn-primary" ng-click="onSubmit(theForm.$valid)">Submit SVP!</button> -->
        <button class="btn btn-primary"  type="submit">Register!!! </button>
        <hr>
        MyModel data (data appears as typed): <pre> {{ formModel | json }}</pre>
        TheForm data: <pre> {{ theForm | json }}</pre>
      </form>

      <script>
        var app = angular.module('halApp', []);

        app.controller('halCtrl', function ($scope) {
          $scope.formModel = {};

          $scope.onSubmit = function (valid) {
            if (valid) {
              console.log("The submit was successfully done.");
              console.log($scope.formModel);
            } else {
              console.log("Cannot submit, not valid.");
            }

            };
        });
      </script>
    </div>
  </div>
  </body>

</html>
