<!DOCTYPE html>
<html >
    <link   rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>
<body>

<div class="container">
  <div ng-app="echoApp" ng-controller="echoController">

  <h2>Select Your Hero:</h2>
  <p>First select based on "key":  <select ng-model="selectedHero" ng-options="x for (x, y) in heros">  </select>
  <p>or 2nd select based on "value.name":  <select ng-model="selectedHero" ng-options="y.name for (x, y) in heros">  </select>
  <p>or 3rd select based on "value.skill":  <select ng-model="selectedHero" ng-options="y.skill for (x, y) in heros">  </select>
  <p>or lastly select based on "value.weight":  <select ng-model="selectedHero" ng-options="y.weight for (x, y) in heros">  </select>

  <h3>Your hero, {{selectedHero.name}} has the skill {{selectedHero.skill}} packed into {{selectedHero.weight}} pounds.</h3>

  </div>
</div>

<script>
var app = angular.module('echoApp', []);
app.controller('echoController', function($scope) {
    $scope.heros = {
        superhero1 : {name : "Batman",    weight : "188", skill : "tech"},
        superhero2 : {name : "Hulk",      weight : "666", skill : "punch"},
        superhero3 : {name : "SuperGirl", weight : "111", skill : "xray vision"},
        superhero4 : {name : "Gandalf",   weight : "200", skill : "magic"}
    }
});
</script>

</body>
</html>
